<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track Jobs</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="add-job-container">
    <button id="add-job-btn"><span id="add-symbol">+</span>add a new job</button>
  </div>
</body>
</html>