<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/styles/authentication.css">
</head>
<body data-page="login">
    <form action="/login" method="post" id="login-form">
        <p class="login-message"></p>
        <h1>Job Tracker</h1>
        <input type="text" name="username" placeholder="Enter the email">
        <input type="password" name="password" placeholder="Enter the password">
        <button type="button" id="cancel-btn">cancel</button>
        <button type="submit" id="action-btn">login</button>
    </form>

    <script src="/scripts/authentication.js"></script>
</body>
</html>