body{
    /* background-color: blue; */
    font-family: sans-serif;
    background-color: #f3f3f3;
    padding: 24px;
}

form{
    padding: 24px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;


    
}
form input{
    width: 80%;
    margin: 0 auto 12px auto;
    font-size: 1.2rem;
    display: block;
    padding: 12px;
    /* border: none; */
    border-radius: 4px;
    box-sizing: border-box;
    
}

#confirm-password{
  margin-bottom: 4px;
}
#action-btn{
    font-size: 1.05rem;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
  background-color: #28a745;
  color: #FFFFFF;
  border-radius: 8px;
 

}
#action-btn:hover{
  background-color: #218838;
}
#cancel-btn{
     margin-right: 8px;
    border-radius: 8px;
    font-size: 1.05rem;
    font-weight: bold;
    border: none;
    padding: 12px 24px;
  background-color: #6c757d; 
  color: #FFFFFF;
}
#cancel-btn:hover{
  background-color: #5a6268;
}

/* signup */

.confirm-password-message{
  text-align: start;
  width: 80%;
  margin: 0 auto 6px auto;
  box-sizing: border-box;
  color: red;
  visibility: hidden;
 
}
.confirm-password-message-active{
  visibility: visible;
}

/* login */
.login-message{
  color: red;
  display: none;
}
.login-message-active{
  display: block;
}