
body{
  font-family: sans-serif;
  padding: 0 12px;
  background-color: #f8f9fa;
  color: #333333;
}
/* navbar */
nav{
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.left{
  display: flex;
  align-items: center;
  gap:8px;
}
div.right{
  display:flex;
  gap: 16px;
}
div.right button{
  padding:12px;
  border:none;
  border-radius: 6px;
}
button#signup-button{
  background-color: #FF7A59;
}
button#signup-button:hover{
  background-color: #E85C41;
}
button#login-button:hover{
  background-color: #0056b3;
}
button#login-button{
  background-color: #007BFF;
}
div.right button>a{
  text-decoration: none;
  font-size:1rem;
  color: #ffff;
  font-weight: bold;
}
img#logo{
  width:50px;
  flex: 0 0 50px;
}
h2#title{
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

div.add-job-container{
  width: 100%;
  background-color: #fff;
  /* padding: 8px; */
  text-align: center;
}
button#add-job-btn{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  font-size: 1.10rem;
  border: 1px solid #E0E0E0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
button#add-job-btn:hover{
   background-color: #e9ecef;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

}
span#add-symbol{
  vertical-align: middle;
  margin: 5px;
}